In [2]:
import pandas as pd
import numpy as np
from collections import *
import haversine as hs

## Distance btw all the bus stands

In [3]:
path = "D:\pune\stops.txt"
stops = pd.read_csv(path)

In [4]:
stops.head(2)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,32769,151131,Forest Office Road,NaN,18.51983,73.63158,NaN,NaN,NaN,NaN,NaN,NaN
1,32770,152339,Kusalkar Putala,NaN,18.52889,73.82708,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
id_map = defaultdict(lambda: 0)
cord = []


for i in range(len(stops)):
    id_map[i] = stops.loc[i]["stop_id"]
    cord.append([stops.loc[i]["stop_lat"],
                stops.loc[i]["stop_lon"]])

In [7]:
real_fake = {}
fake_real = {}
for i in range(len(stops)):
    real_fake[stops.loc[i]["stop_id"]] = i
    fake_real[i] = stops.loc[i]["stop_id"]

In [8]:
l = [[0 for i in range(len(stops))] for j in range(len(stops))]
for i in range(len(stops)):
    for j in range(len(stops)):
        l1 = tuple(cord[i])
        l2 = tuple(cord[j])
        l[i][j] = float(hs.haversine(l1, l2))

In [9]:
file = open('DistanceMatrix.txt', 'w')
for i in l:
    file.write(','.join([str(j) for j in i])+"\n")
file.close()

# Finding the route using A*

In [10]:
df = pd.read_csv("DistanceMatrix.txt",header = None)
stops_matrix = pd.read_csv("graph.csv")
route_data = pd.read_csv('route_data_stopid.csv')

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,5614,5615,5616,5617,5618,5619,5620,5621,5622,5623
0,0.000000,20.636934,23.332163,23.241471,28.497966,48.565302,18.509967,20.233526,45.989476,22.400374,...,2.193700,23.442712,29.028359,29.737870,25.627700,26.326944,19.654365,23.905843,26.739405,25.788175
1,20.636934,0.000000,16.280913,11.194251,8.757002,30.697006,9.570493,7.682582,27.114890,11.844476,...,18.554672,28.523465,8.512662,10.343857,15.803452,12.442753,1.646465,28.458697,11.378619,7.234701
2,23.332163,16.280913,0.000000,5.731769,23.208972,27.738415,24.480292,23.413904,26.717941,4.600674,...,22.325982,15.016026,21.229854,15.682134,3.095534,28.723664,14.817262,14.656850,27.605571,22.998054
3,23.241471,11.194251,5.731769,0.000000,17.526329,25.533277,20.167276,18.717948,23.569578,1.405248,...,21.779017,20.314076,15.499019,10.267560,4.609688,23.522999,9.931395,20.032242,22.279222,17.504231
4,28.497966,8.757002,23.208972,17.526329,0.000000,28.846242,12.419760,9.782489,24.359447,18.615130,...,26.328736,36.741686,2.945655,10.441773,21.819495,8.994397,10.315934,36.608547,7.169376,3.179604

In [11]:
stops_matrix = np.array(stops_matrix)

In [38]:
from heapq import *
from collections import defaultdict

start = 34519
end = 32868

dis = df[real_fake[start]][real_fake[end]]

hq = [(dis,0, real_fake[start])]

visited = set()
parent = defaultdict(lambda:-1)
parent[real_fake[start]] = real_fake[start]
# print(sum(stops_matrix[real_fake[start]]))
l = []
while hq:
    (hurisitc,cost, stop) = heappop(hq)
    if stop==real_fake[end]:
        break
    print(stop)
    l.append(stop)
    if stop in visited:
        continue
    visited.add(stop)


    for i in range(len(stops_matrix)):
        if stops_matrix[stop][i] and i not in visited:
            parent[i] = stop
            print(i,stop)
            min_cost = cost+df[stop][i]
            heappush(hq,(df[real_fake[end]][i],min_cost, i))
    # print(hq)

curr = real_fake[end]
li = []

while(parent[curr] != curr):
    li.append(curr)
    curr = parent[curr]
li.append(real_fake[start])
li = li[::-1]
print(li)

1503
954 1503
954
3080 954
3345 954
4173 954
3345
2597 3345
3346 3345
3382 3345
4243 3345
4918 3345
4243
1759 4243
1759
4149 1759
4149
3843 4149
4119 4149
4174 4149
3843
3543 3843
4108 3843
4108
1535 4108
3121 4108
3613 4108
3613
3119 3613
3468 3613
3614 3613
3973 3613
3468
1353 3468
3120 3468
3615 3468
1353
3616 1353
3616
3117 3616
3118 3616
3969 3616
4002 3616
3969
381 3969
3194 3969
3617 3969
3618 3969
4006 3969
3617
560 3617
3406 3617
3627 3617
3871 3617
4006 3617
3871
382 3871
590 3871
3194 3871
3376 3871
3500 3871
3845 3871
4233 3871
3845
3131 3845
3500 3845
3628 3845
3628
492 3628
1891 3628
3680 3628
3933 3628
1891
320 1891
786 1891
3131 1891
3192 1891
3629 1891
3679 1891
4252 1891
786
1646 786
2739 786
1646
5339 1646
5339
4584 5339
4584
286 4584
286
1621 286
1621
4288 1621
4288
4590 4288
5570 4288
4590
1151 4590
2011 4590
2253 4590
2011
295 2011
4061 2011
5394 2011
5584 2011
5394
4956 5394
4956
92 4956
92
317 92
4061
287 4061
1151 4061
287
596 287
1576 287
596
541 596
1576 596
541
4752 541
4752
777 4752
777
186 777
1875 777
3917 777
4516 777
3917
315 3917
800 3917
808 3917
856 3917
1194 3917
1875 3917
808
609 808
4532 808
609
846 609
1888 609
3924 609
846
68 846
2968 846
3924 846
[1503, 954, 3345, 4243, 1759, 4149, 3843, 4108, 3613, 3468, 1353, 3616, 3969, 3617, 3871, 3845, 3628, 1891, 786, 1646, 5339, 4584, 286, 1621, 4288, 4590, 2011, 4061, 287, 596, 541, 4752, 777, 3917, 808, 609, 846, 68]

# Output

In [39]:
from google.transit import gtfs_realtime_pb2
import requests
import folium
from geopy.geocoders import Nominatim
import json
import time
import datetime
import os
from html2image import Html2Image

In [40]:
geolocator = Nominatim(user_agent="location_details")
location = geolocator.geocode("Pune")
latitude = location.latitude
longitude = location.longitude
m = folium.Map(location=[latitude, longitude], zoom_start=10)
map_new = folium.Map(location=[location.latitude, location.longitude], zoom_start=10.5, width=1920, height=1080)
tooltip = 1
for i in li:
    # i = real_fake[i]
    lat = stops["stop_lat"][i]
    lon = stops["stop_lon"][i]
    folium.CircleMarker(location=[lat, lon],
                        radius=2,
                        color='red',
                        fill=True,
                        fill_color='red',
                        fill_opacity=1,tooltip=stops["stop_name"][i]+" "+str(tooltip)+" "+str(fake_real[i])).add_to(map_new)
    tooltip+=1

# for i in range(len(stops)):
#     lat = stops["stop_lat"][i]
#     lon = stops["stop_lon"][i]
#     folium.CircleMarker(location=[lat, lon],
#                         radius=1,   
#                         color='blue',
#                         fill=True,
#                         fill_color='blue',
#                         fill_opacity=1).add_to(map_new)

map_new.save('map.html')